.formBody {
	display: flex;
	flex-direction: column;
}

.inputs {
	margin: 2%;
}

.loginButton {
	font-size: 16px;
	width: 6em;
	height: 3em;
	align-self: center;
	background-color: rgb(88, 153, 223);
	color: white;
	border: none;
	border-radius: 4px;
}
